*{
    margin: 0 ;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;

}
body{
    text-transform: uppercase;
}
header{
    background-color: black;
    display: block;

}
.container {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    height: 10px;
}
.container .bgBlack a{
    width: 100%;
    padding: 20px;
    margin: 0;
}
.mid-container{
    width: 1000px;
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 15px;
}